<div class="container-fluid">

    <!-- start page title -->
    <!-- <app-page-title title="Invoice List" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->
    <!-- end page title -->
  
    <div class="row">
      <div class="col-xl-4 col-sm-6">
        <div class="card">
            <a routerLink="/opportunity-list">
                <div class="card-body">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="text-lg-center">
                          <div class="avatar-sm me-3 mx-lg-auto mb-3 float-start float-lg-none">
                            <i class="bx bx-folder-open bx-lg"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div>
                            <h3 class="text-truncate mb-4 mb-lg-5">Opportunities</h3>
                            <h5 class="text-truncate mb-4 mb-lg-5">Opportunities List</h5>
                        </div>
                      </div>
                    </div>
                  </div>
            </a>
        </div>
        <div class="card">
            <a routerLink="/profile-list">
                <div class="card-body">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="text-lg-center">
                          <div class="avatar-sm me-3 mx-lg-auto mb-3 float-start float-lg-none">
                              <i class="bx bx-body bx-lg"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div>
                            <h3 class="text-truncate mb-4 mb-lg-5">People</h3>
                            <h5 class="text-truncate mb-4 mb-lg-5">People List</h5>
                        </div>
                      </div>
                    </div>
                  </div>
            </a>
          </div>
      </div>
    </div>
    <!-- end row -->
  
  </div> <!-- container-fluid -->
  