<div class="container-fluid">
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table align-middle  table-nowrap table-hover">
                <thead class="table-light">
                  <tr>
                    <th scope="col" style="width: 70px;">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Skills</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let profileTemp of profileTemp">
                        <td>
                          <div>
                            <img class="rounded-circle avatar-xs setPointer" src="{{ profileTemp.picture }}" alt="" (click)="redirect(profileTemp.username)">
                          </div>
                        </td>
                        <td>
                          <h5 class="font-size-14 mb-1">
                            <a (click)="redirect(profileTemp.username)" class="text-dark setPointer">{{ profileTemp.name }}</a>
                          </h5>
                          <p class="text-muted mb-0">{{ profileTemp.professionalHeadline}}</p>
                        </td>
                        <td>{{ profileTemp.location }}</td>
                        <td>
                          <div>
                            <a class="badge badge-soft-primary font-size-11 m-1 setPointer">{{ profileTemp.skills[0].name}}</a>
                            <a class="badge badge-soft-primary font-size-11 m-1 setPointer">{{ profileTemp.skills[1].name}}</a>
                            <a class="badge badge-soft-primary font-size-11 m-1 setPointer">2 + more</a>
                          </div>
                        </td>
                        <td>
                          <ul class="list-inline font-size-20 contact-links mb-0">
                            <li class="list-inline-item px-2 setPointer">
                              <a (click)="redirect(profileTemp.username)" ngbTooltip="Profile"><i class="bx bx-user-circle"></i></a>
                            </li>
                          </ul>
                        </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
